{% extends "base_generic.html" %} 
{% load i18n %}
{% block content %}
<h1>{% trans "Title" %}: {{ book.title }}</h1>
<p><strong>{% trans "Author" %}:</strong> <a href="">{{ book.author }}</a></p>
<p><strong>{% trans "Summary" %}:</strong> {{ book.summary }}</p>
<p><strong>{% trans "ISBN" %}:</strong> {{ book.isbn }}</p>
<p><strong>{% trans "Language" %}:</strong> {{ book.language }}</p>
<p><strong>{% trans "Genre" %}:</strong> {{ book.genre.all|join:", " }}</p>
  <div class="container">
  <h4>{% trans "Copies" %}</h4>
  {% for copy in book.bookinstance_set.all %}
  <hr />
  <p class="{% if copy.status == loan_status.a %}status-success{% elif copy.status == loan_status.m %}status-danger{% else %}status-warning{% endif %}">
     {{copy.get_status_display }}
  </p>
  {% if copy.status != 'a' %}
  <p><strong>{% trans "Due to be returned" %}:</strong> {{ copy.due_back }}</p>
  {% endif %}
  <p><strong>{% trans "Imprint" %}:</strong> {{ copy.imprint }}</p>
  <p class="text-muted"><strong>{% trans "Id" %}:</strong> {{ copy.id }}</p>
  {% endfor %}
</div>
{% endblock %}
